<div class="ui container compact segment">
    <h1>Profiel</h1>
    <div style="float: right;" *ngIf="user">
    <img *ngIf="user.picture else googlepic"
      src="{{user.picture}}">
    <ng-template #googlepic>
      <img src="{{img}}">
    </ng-template>
  </div>
  <div style="float: left;" class="ui form" *ngIf="user">
    <div class="field">
      <label>Naam:</label>
      {{user.name}}
    </div>
    <div class="field">
      <label>Verjaardag:</label>
      <div class="ui calendar" id="calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Date" value="{{user.birthday}}">
        </div>
      </div>
    </div>
    <div class="field">
      <label>Rol:</label>
      {{user.role}}
    </div>
    <div class="field">
      <label>Account type:</label>
      {{user.accountType}}
    </div>
    <div class="field">
      <label>PhoneId:</label>
      <div *ngIf="user.phoneid">
        {{user.phoneid}}
        <a (click)="deletePhoneId()">
            <i class="red trash icon"></i>
          </a>
      </div>
    </div>
    <div class="field">
      <label>Checkin</label>
      <div *ngIf="time && location else noCheckin">
        <p>
          Uw laatste checkin was op {{time}} bij {{location.name}}
        </p>  
      </div>
      <ng-template #noCheckin>
        Niet ingecheckt.
      </ng-template>
    </div>
  </div>

</div>
