<!--
<div class="ui search" *ngIf="correctIp" style="margin-bottom: 15px;">
  <div class="ui icon input">
    <input name="search" class="prompt" type="text" placeholder="Search users..." (keyup)="filter($event)">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
-->
<div class="ui one column grid" style="width: 100%" *ngIf="correctIp">
  <div class="column">
    <div class="ui three column relaxed stackable grid">
      <div class="row">
        <app-campus class="column" *ngFor="let localCampus of campuses" [campus]="localCampus" [users]="users">
        </app-campus>
      </div>  
    </div>
  </div>
  <div class="column">
    <div class="ui two column stackable grid">
      <div class="column">
        <app-campus *ngFor="let localCampus of lunchCampuses" [campus]="localCampus" [users]="users">
        </app-campus>
      </div>
      <div class="column">
        <app-campus *ngFor="let localCampus of thuiswerkCampuses" [campus]="localCampus" [users]="users">
        </app-campus>
      </div>
    </div>
  </div>
</div>

<div class="ui active inverted dimmer" *ngIf="campuses === undefined || users === undefined">
  <div class="ui text loader">Loading</div>
</div>  