<div class="ui one column grid" style="width: 100%" *ngIf="correctIp">
  <div class="column">
    <div class="ui three column relaxed stackable grid">
      <div class="row">
        <app-campus class="column" *ngFor="let localCampus of campuses" [campus]="localCampus" [users]="users">
        </app-campus>
      </div>  
    </div>
  </div>
  <div class="column">
    <div class="ui two column stackable grid">
      <div class="column">
        <div class="ui tertiary basic segment" *ngFor="let localCampus of lunchCampuses">
          <h3 class="ui left aligned  header">{{localCampus.name}}</h3>
          <div *ngFor="let localSegment of localCampus.segments">
            <app-user-list [segment]="localSegment" [users]="users">
            </app-user-list>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui tertiary basic segment" *ngFor="let localCampus of thuiswerkCampuses">
          <h3 class="ui left aligned  header">{{localCampus.name}}</h3>
            <div *ngFor="let localSegment of localCampus.segments">
              <app-user-list [segment]="localSegment" [users]="users">
              </app-user-list>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="ui active inverted dimmer" *ngIf="campuses === undefined || users === undefined">
  <div class="ui text loader">Loading</div>
</div>  