<div class="title" (click)="selected()">
    <i class="dropdown icon"></i> {{location.name}} <a class="ui circular label">{{location.stickers.length}}</a>
</div>
<div class="content">
    <div class="ui selection list">
        <div class="item" *ngFor=" let sticker of location.stickers">
            <div class="content">
                {{sticker}} <i class="red icon trash" (click)="removeSticker(sticker)"></i>
            </div>
            <div id="{{sticker}}" class="ui mini modal">
                <div class="header">Sticker verwijderen</div>
                <div class="content">
                    <p>Ben je zeker dat je sticker {{sticker}} wilt verwijderen?</p>
                </div>
                <div class="actions">
                    <div class="ui red approve button" (click)="deleteConfirm()">Verwijderen</div>
                    <div class="ui deny button" (click)="deleteDeny()">Annuleren</div>
                </div>
            </div>
        </div>
    </div>
</div>
