<div *ngIf="location">
    <h2 class="ui header">Locatie</h2>
    <form class="ui form" #f="ngForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label>Naam:</label>
        <input type="text" name="location-name" placeholder="Location Name" 
          [(ngModel)]="location.name" required>
      </div>
      <div class="field">
        <label data-position="top left" data-tooltip="Het grootste gewicht wordt als eerste getoond.">Gewicht:</label>
        <input type="number" name="location-weight" [(ngModel)]="location.weight" required>
      </div>
      <div class="field">
        <label data-tooltip="Mensen in een niet-storen locatie kun je een bericht sturen die zo ontvangen wanneer ze de volgende keer inchecken of uitchecken."
              data-position="top left">
         Niet storen locatie?
        </label>  
        <input type="checkbox" name="doNotDisturb"
          [(ngModel)]="location.doNotDisturb">
      </div>
      <button name="submit-button" class="ui right floated primary button" type="submit" [disabled]="!f.valid">
        Opslaan
      </button>
      <button name="delete-button" class="ui right floated red button" type="button" (click)="deleteLocation()">
        Verwijderen
      </button>
    </form>
  </div>
  