<div class="container">
    <h1>Over ons</h1>
    <div class="ui segment">
        <h1 class="ui header">Dag bezoeker</h1>
        <p>
            Dit is de wie is waar applicatie.

            Als je aan de collega’s wil doorgeven waar je zit, of dat je (even) niet gestoord kan/wil worden is dit de makkelijkste manier.
                
            Inchecken kan je op enkele manieren doen maar eerst en vooral moet je inloggen.
        </p>
        <h2 class="ui header">Android:</h2>
        <ul>
            <li>
                Als je een Android toestel hebt kan je de app downloaden met de knop rechtsboven op deze pagina. Schakel je NFC in en hou 
                dan je smartphone tegen de QR-code, hier zit een NFC-tag achter. De app zal vanzelf openen en proberen in te checken. 
                Als je geen NFC hebt op je smartphone kan je nog steeds de app gebruiken door hem te openen en te kiezen voor ‘scan QR-code’.
            </li>
            <li>
                De eerste keer dat je met de app een NFC tag of QR-code scant, wordt je doorgestuurd naar de website om je smartphone 
                aan je account te linken.
            </li>
        </ul>
        <h2 class="ui header">Apple/Windows</h2>
        <ul>
            <li>
                Als je geen Android toestel hebt kan je een andere app gebruiken die QR-codes kan lezen. Scan daarmee de tag en open de link. 
                Als je ingelogd was ben je nu ingecheckt.
            </li>
        </ul>
        <h2 class="ui header">Opgelet!</h2>
        <p>
            In afwachting van een volgende generatie van ons authenticatieplatform, gebruiken we nu nog de oude, 
            deze laat je 3 keer inloggen om effectief binnen te raken. Dat is zeer vervelend, maar moet maar één keer gebeuren, 
            daarna werkt de applicatie vanzelf.
        </p>
        <h2 class="ui header">Zie dat aan!</h2>
        <p>
            Kijk wie waar is ingecheckt op deze site: <br>
            <a href="https://wiw.lab9k.gent">https://wiw.lab9k.gent</a>
        </p>
    </div>
</div>
