<div class="ui basic segment">
  <h1>Dashboard</h1>
  <div class="ui horizontal segments">
    <div class="ui fluid segment">
      <div class="ui fluid styled accordion">
          <app-campus-list [campuses]="campuses" 
            (selectCampusEvent)="selectCampus($event)"
            (selectSegmentEvent)="selectSegment($event)"
            (selectLocationEvent)="selectLocation($event)"
            (createSegmentEvent)="createSegment($event)"
            (createLocationEvent)="createLocation($event)">
          </app-campus-list>
          <div class="title" (click)="createCampus()">
              <i class="plus icon"></i> Add Campus
          </div>
      </div>
    </div>
    <div class="ui fluid segment">
      <ng-template #selectedElement>
      </ng-template>
    </div>
  </div>
  
</div>
 