<div class="ui container" id='topid'>
  <div class="ui three item menu">
    <a class='item' routerLink="/" >Wie is waar</a>
    <!--
      display some way how long ago the checkin was
      sort campuses by name, users by time, not in a campus first?
      status??
    -->
    <a class='item' routerLink="/admin" >Admin</a>
    <!--
      Make it so it only deletes after we know the location was moved 
      to another campus.
    -->
    <a class='item' *ngIf='(currentUser | async) else loginlink' routerLink="/login/logout">Logout</a>
    <ng-template #loginlink>
      <a class='item' routerLink="/login">Login</a>
    </ng-template>
  </div>
  <router-outlet></router-outlet>
</div>
<!--
  login with google on app
-->

<!--
  move stickers?
  see last checkin, remove it?
  edit campus/segment/location name
-->