<div class="ui inverted stackable menu">
  <a class='item' routerLink="/">Wie is waar</a>
  <a class='item' routerLink="/admin">Admin</a>
  <div class="item" *ngIf="router.url === '/'">
    <div class="ui search">
      <div class="ui icon transparent inverted input">
        <input id="search"  name="search" class="prompt" type="text" placeholder="Zoek gebruiker..." (keyup)="filter($event)" (change)="filter($event)">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
  <div class="right menu">
    <div id="menuDrop" class="ui dropdown item">
      <i class="large bars icon"></i>
      <div class="menu">
        <a class='item' routerLink="account/profile" *ngIf="(currentUser | async)">Profiel</a>
        <a class='item' routerLink="/checkin" *ngIf="(currentUser | async)" i18n>Laatste checkin</a>
        <a class='item' *ngIf='(currentUser | async) else loginlink' href="/auth/logout">Uitloggen</a>
        <ng-template #loginlink>
          <a class='item' routerLink="account/login">Inloggen</a>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="ui padded basic segment fluid container" style="padding-left: 2%; padding-right: 2%; height: auto;">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<!--
  tekstje bij inchecken, HANS
  picture bij azure ad, birthday?
-->