<div *ngIf="campus">
  <h2 class="ui header">Campus</h2>
  <form class="ui form" #f="ngForm" (ngSubmit)="onSubmit($event)">
    <div class="field">
      <label>Naam:</label>
      <input type="text" name="campus-name" placeholder="Campus Name" 
        [(ngModel)]="campus.name" required>
    </div>
    <div class="field">
      <label data-position="top left" data-tooltip="Het grootste gewicht wordt als eerste getoond.">Gewicht:</label>
      <input type="number" name="campus-weight" [(ngModel)]="campus.weight" required>
    </div>
    <div class="field">
      <label data-tooltip="Wordt op de home pagina apart getoond."
            data-position="top left">
        Lunch locatie?
      </label>  
      <input type="checkbox" name="isLunch"
        [(ngModel)]="campus.isLunch">
    </div>
    <div class="field">
      <label data-tooltip="Wordt op de home pagina apart getoond."
            data-position="top left">
        Thuiswerk locatie?
      </label> 
      <input type="checkbox" name="isThuiswerk"
        [(ngModel)]="campus.isThuiswerk">
    </div>
    <button name="submit-button" class="ui right floated primary button" type="submit" [disabled]="!f.valid">
      Opslaan
    </button>
    <button name="delete-button" class="ui right floated red button" type="button" (click)="deleteCampus()">
      Verwijderen
    </button>
  </form>
</div>
