
<h2 class="ui left aligned  header">{{campus.name}}</h2>

<app-segment-list style="display:contents;"
    [segments]="segments" [users]="users">
</app-segment-list>
<div *ngFor="let emptySeg of empty"></div>
<div>
    <div *ngFor="let localSegment of vergaderingSegments" class="ui secondary bottom aligned basic segment" style="height: 100%;">
        <h3 class="ui left aligned top attached inverted header">In Vergadering</h3>
        <app-user-list [segment]="localSegment" [users]="users"></app-user-list>
    </div>
</div>
