
<h2 class="ui left aligned  header">
    <div class="content" (click)="selectCampus()">
        {{campus.name}}
    </div>
</h2>

<app-segment-list
    [segments]="segments" [users]="users">
</app-segment-list>

<div>
    <div *ngFor="let localSegment of vergaderingSegments" class="ui secondary bottom aligned basic segment" style="height: 100%;">
        <h3 class="ui left aligned top attached inverted header">In Vergadering</h3>
        <app-user-list [segment]="localSegment" [users]="users"></app-user-list>
    </div>
</div>
