<div class="column">
  <div class='ui {{color}} fluid card' [ngStyle]="{'opacity': opacity}"
    (click)="userSelected()">
      <div class="ui tiny image">
          <img *ngIf="user.picture else googlepic"
          src="{{user.picture}}">
          <ng-template #googlepic>
                <img 
                src="https://api.adorable.io/avatars/285/{{user.name}}.png">
          </ng-template>
      </div>
      <div class="description">
          <div class="center aligned" style="word-wrap: break-word;flex: inherit; width:80px">
                {{user.name}} 
          </div>   
      </div>
      <div class="extra content" *ngIf="location != undefined" style="width:80px">
        <div class="left aligned" style="word-wrap: break-word;flex: inherit; width:80px">
            {{location.name}} 
        </div> 
      </div>
  </div> 
</div>
<div class="ui modal" id="{{user.id}}">
    <p class="close icon">&#10005;</p>
    <div class="header">
        Send Message
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Subject</label>
                <input type="text" name="subject-{{user.id}}" placeholder="Subject">
            </div>
            <div class="field">
                <label>Message</label>
                <textarea name="message-{{user.id}}"
                    style="margin-top: 0px; margin-bottom: 0px; height: 150px;">
                </textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button"
          (click)="sendMessage()">
            Send
            <p class="checkmark icon">&#10003;</p>
        </div>
    </div>
  </div>