<div class="column" style="padding: 0.5em 0em 0.5em 0em" *ngIf="user.visible" [attr.data-tooltip]="user.name">
  <div class='ui {{color}} fluid card' [ngStyle]="{'opacity': opacity}"
    (click)="userSelected()">
      <div class="ui tiny image" style="width: 60px; height: 60px;">
          <img *ngIf="user.picture else googlepic"
          src="{{user.picture}}">
          <ng-template #googlepic>
                <img 
                src="{{img}}">
          </ng-template>
      </div>
      <div class="description">
          <div class="center aligned" style="overflow:hidden;width:60px;height:20px;line-height:20px;">
                {{user.name}} 
          </div>   
      </div>
      <!--
      <div class="extra content" *ngIf="location != undefined" style="width:80px">
        <div class="left aligned" style="word-wrap: break-word;flex: inherit; width:80px">
            {{location.name}} 
        </div> 
      </div>
    -->
  </div> 
</div>
<div class="ui modal" id="{{user.id}}" *ngIf="location && location.doNotDisturb">
    <i class="close icon"></i>
    <div class="header">
        Send Message
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Subject</label>
                <input type="text" name="subject-{{user.id}}" placeholder="Subject">
            </div>
            <div class="field">
                <label>Message</label>
                <textarea name="message-{{user.id}}"
                    style="margin-top: 0px; margin-bottom: 0px; height: 150px;">
                </textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button"
          (click)="sendMessage()">
            Send
            <i class="checkmark icon"></i>
        </div>
    </div>
  </div>