<div class="column">
  <div class="ui fluid card">
      <div class="ui tiny image">
          <img *ngIf="user.picture else googlepic"
          src="{{user.picture}}">
          <ng-template #googlepic>
                <img 
                src="https://api.adorable.io/avatars/285/{{user.name}}.png">
          </ng-template>
      </div>
      <div class="description">
          <div class="center aligned" style="word-wrap: break-word;flex: inherit; width:80px">
                {{user.name}} 
          </div>   
      </div>
  </div> 
</div>