<div class="ui segment">
    <!--
    <div class="ui input">
        <input #name type="text" placeholder="Search..."
            value="{{campus.name}}" (keyup.enter)="test($event, name.value)">
    </div>-->
    <p>{{campus.name}}</p>
    <div *ngIf="campus.name !== 'Segments without campus'">
        <a class="ui right corner label" (click)="delete()">
            <i class="red trash icon"></i>
        </a>
    </div>
    <div class="ui container" id="segment-list">
        <app-segment-list [campus]="campus">
        </app-segment-list>
    </div>  
</div>