<div class="title" (click)="selected()">
    <i class="dropdown icon"></i> {{campus.name}} <a class="ui circular label">{{campus.segments.length}}</a>
</div>
<div class="content">
    <div class="subtitle">Segmenten</div>
    <div class="accordion">
        <app-segment-list [campus]="campus" 
            (selectSegmentEvent)="selectSegment($event)"
            (selectLocationEvent)="selectLocation($event)"
            (createSegmentEvent)="createSegment($event)"
            (createLocationEvent)="createLocation($event)">
        </app-segment-list>
    </div>
</div>
